* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2em;
}

h1 {
    text-align: center;
}

div {
    display: inline-block;
    padding-top: 2em;
}

ul {
    list-style: decimal-leading-zero;
    line-height: 1.5em;
}

.aula_html {
  margin-left: 25em;
}

.aula_css  {
   float:right;
   margin-right: 25em;
   
 }