/* * {
  padding: 0;
} */

body {
  background-color: rgb(230, 230, 230);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  margin: 0;
}

main {
  margin: 0px 150px;
}

p {
  text-indent: 1rem;
}

header {
  display: contents;
  text-align: center;
}

.logo {
  width: 3rem;
  height: 3rem;
  float: left;
  margin-top: -1rem;
  border-radius: 20%;
  transition: 0.5s;
}

.logo:hover {
  border-radius: 2rem;
}

h1 {
  font-size: xx-large;
}

button {
  color: rgb(255, 255, 255);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(146, 105, 15);
  border: medium darkgray;
  /* border: 0.2rem solid rgb(146, 105, 15); */
  width: 10rem;
  height: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  color: rgb(255, 255, 255);
  width: 11rem;
  height: 2rem;
  background-color: rgb(182, 125, 1);
  border: solid 1px rgb(255, 255, 255);
/* border-bottom: 0.2rem solid  white; */
}

.menu {
  position: sticky;
  top: 0rem;
  width: 100%vw;
  margin: 0rem;
  background-color: black;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-height: 2.5rem;
}

a {
  text-decoration: none;
  color: rgb(65, 90, 235);
}

a:hover {
  text-decoration: underline;
  color: rgb(65, 90, 235);
}

.emoji,
.music,
.film {
  width: 45px;
  height: 45px;
  vertical-align: sub;
}

.tv {
  width: 75px;
  height: 45px;
  vertical-align: sub;
}

.kantar {
  width: 450px;
  height: 40px;
}

.tap {
  width: 400px;
  height: 250px;
}

.capa_musica {
  width: 350px;
  height: 200px;
  transition: 0.5s;
}

.capa_musica:hover {
  width: 25rem;
  height: 230px;
}

.rodape {
  background-color: rgba(27, 27, 27, 0.753);
  color: beige;
  height: 5vh;
}
