body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 200rem;
}

.subir {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3rem;
    height: 2rem;
    width: 2rem;
    background-color : orange;
}