/* * {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    line-height: 4rem;
}

a {
    padding: 0.5rem;
    border: solid 0.1rem black;
    background-color: blue;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    background-color: rgb(2, 2, 182);
}

div {
    margin: 1.5rem;
    height: 3rem;
    width: 3rem;
    background-color: blueviolet;
    transition: 0.5s;
}

div:hover {
    transform: rotate(45deg);
} */