#div1 {
    border: 15px solid black;
    margin: 30px;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}

#div2 {
    border: 15px solid black;
    margin: 30px;
    height: 300px;
    width: 300px;
}