.container {
    width: 700px;
    height: 700px;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
}

.bx1 {
    background-color: aqua;
    justify-self: end;
    align-self: flex-start;
}

.bx2 {
    background-color: rgb(68, 0, 255);
}

.bx3 {
    background-color: rgb(255, 0, 234);
}

.bx4 {
    background-color: rgb(72, 255, 0);
}

.bx5 {
    background-color: blueviolet;
}

.bx6 {
    background-color: brown;
}
