h2.padrao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(128, 4, 139);
    text-align: center;
}
.padrao{
    background-color: aqua;
}
.square1
{
    height: 400px;
    width: 400px;
    border: 15px;
    background-color: aqua;
}