@charset "UTF-8";

.ativo-contato {
  border-bottom: solid 0.4rem rgb(159, 255, 255);
  color: #9fffff;
}

.container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato {
  display: grid;
  justify-content: center;
  height: 30rem;
  width: 25rem;
  background-color: rgb(39, 0, 71);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%);
}