@charset "UTF-8";

.ativo-contato {
  border-bottom: solid 0.4rem rgb(159, 255, 255);
  color: #9fffff;
}

/* .container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 7rem);
  gap: 0.8rem;
  align-items: center;
  justify-items: center;
}

.titulo {
  grid-column: 1 / 8;
  grid-row: 1 / 3;
}

.barrinha-contato {
  width: 7,5rem;
  height: 0.4rem;
  background-color: #00ffff;
}

.contato {
  grid-column-start: 4;
  grid-row-start: 3;
  margin-top: 23rem;
  height: 50rem;
  width: 50rem;
  display: block;
  /* align-items: center; */
  /* justify-content: baseline; */
  background-color: rgb(39, 0, 71);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%);
}
