@charset "UTF-8";

.ativo-contato {
  border-bottom: solid 0.4rem rgb(159, 255, 255);
  color: #9fffff;
}

.container1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
