@charset "UTF-8";

.ativo-projetos {
  border-bottom: solid 0.4rem rgb(159, 255, 255);
  color: #9fffff;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 7rem);
  gap: 0.8rem;
  align-items: center;
  justify-items: center;
}

.titulo {
  grid-column: 1 / 8;
  grid-row: 1 / 3;
}

.barrinha-projetos {
  width: 12.3rem;
  height: 0.4rem;
  background-color: #00ffff;
}

.alinha1 {
  grid-column: 2 / 4;
  grid-row-start: 3;
}

.card1 {
  height: 25rem;
  width: 20rem;
  margin-top: 17rem;
  background-color: rgb(39, 0, 71);
  text-align: center;
  border-radius: 3%;
  transition: 0.5s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%);
}

h4 , p {
  text-align: center;
  margin: 0.5rem;
}

.att {
  font-size: 0.8rem;
}

.alinha2 {
  grid-column: 5/7;
  grid-row-start: 3;
}

.card2 {
  height: 25rem;
  width: 20rem;
  margin-top: 17rem;
  background-color: rgb(39, 0, 71);
  text-align: center;
  border-radius: 3%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%);
  transition: 0.5s;
}

.card1:hover , .card2:hover , .card3:hover {
  transform: scale(1.05);
  background-color: rgb(49, 0, 88);
}

.alinha3 {
  grid-column: 2 / 4;
  grid-row-start: 7;
}

.card3 {
  height: 25rem;
  width: 20rem;
  margin-top: 17rem;
  background-color: rgb(39, 0, 71);
  text-align: center;
  border-radius: 3%;
  transition: 0.5s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%);
}

.ilustraçao {
height: 8rem;
margin: 1rem;
border: solid 0.2rem gray;
transition: 0.5s;
}

.ilustraçao:hover {
  border: solid 0.2rem aqua;
}

.icon {
  height: 1.5rem;
  margin: 0.5rem;
}