* {
  background-color: rgb(0, 0, 29);
  color: white;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  text-indent: 1rem;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  margin: 0.2rem 0 1rem 0;
  font-size: 1.5rem;
  color: gray;
  font-weight: normal;
}

hr {
  width: 4rem;
  border-color: aqua;
}

.navegation {
  background-color: hsl(0, 0%, 0%, 20%);
  color: white;
  height: 2rem;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkshome {
  background-color: rgb(255, 16, 16, 0%);
  width: 5rem;
  border-bottom: solid 0.4rem hsla(0, 0%, 79%, 0.3);
  text-align: center;
  margin: 0 2rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.ativo {
  border-bottom: solid 0.4rem rgb(159, 255, 255);
}

.linkshome:hover {
  border-bottom: solid 0.4rem hsl(180, 100%, 50%, 100%);
}

.home {
  color: rgb(159, 255, 255);
}

a {
  text-decoration: none;
  background-color: rgb(255, 16, 16, 0%);
}

.eu {
  border-radius: 15rem;
}

.container1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about {
  width: 28rem;
}

.barrinha {
  width: 28rem;
  height: 0.4rem;
  background-color: aqua;
  animation: carregando 3s;
}

@keyframes carregando {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

footer {
  height: 8rem;
  width: 100%;
  background-color: grey;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
}

li {
  list-style: none;
  text-align: center;
}

.sociais {

}